<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento Temperatura</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='reset.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body>
    <section class='header-index'>
        <script type="text/javascript">
            // Função que atualiza a página a cada x minutos 
            setTimeout(function () {
                window.location.reload(1);
                console.log("Página atualizada")
            }, 60000); // 1 minutos
        </script>
    </section>

    <section class='container-temperature'>

        <div class='control-container'>
            <h1><i class="fas fa-thermometer-half icon"></i><strong>Temperatura</strong> App</h1>
            {% if data %}
            <div class='alerts-info'>
                <h3>Ultimos acionamentos realizados</h3>
                <ul class='list-container'>

                    <h5>Data e hora</h5>
                    {% for linha in data %}
                    <li>{{ linha }}</li>
                    {% endfor %}

                </ul>
            </div>
            {% endif %}

        </div>
        <div class="content-temperature">
            <img src="{{url_for('static',filename='assets/' + image)}}" alt="Emoticon com muito calor" />
            <div class='temperature-value'>

                <p> {{temperature}}°C</p>
            </div>
            <div class='temperature-condiction'>
                <p><strong>{{condition}}</strong> {{message}}</p>
            </div>
        </div>
    </section>

</body>
<footer class='footer-container'>
    <p>Desenvolvido por <span>Viviane Araujo</span></p>
    <div class='footer-i'>
        <a href="https://github.com/avivianedev"><i class="fa-brands fa-github"></i></a>
    </div>

</footer>

</html>